.box{
    margin: 30px;
    height: 100px;
    width: 200px;
    background-color: aqua;
    border: 1px solid black;
    transform: translate(1000px,50px); */
    transform: rotate(-135deg);
    transform: scale(1.5,1);
    transform: skew(40deg);
}